@font-face {
    font-family: "Bariol";
    src: url("fonts/bariolbold.ttf");
}

@font-face {
    font-family: "Bariolthin";
    src: url("fonts/bariolthin1.ttf");
}

* {
    padding: 0;
    margin: 0;
}

body {
    background: linear-gradient(#ffffff, #b34ef6);
    min-height: 100vh;
}

h1 {
    float: left;
    margin-left: 10px;
    font-family: Bariol;
    clear: both;
}

h1 a {
    text-decoration: none;
}

h1 a :visited {
    color: black;
}

h1 a:hover {
    color: plum;
}

nav {
    float: right;
    margin-top: 10px;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
    font-style: italic;
}

nav ul li a {
    text-decoration: none;
}

nav ul li a:visited {
    color: black;
}

nav ul li a:hover {
    color: plum;
}


/* HEADER */


/*div main*/

@font-face {
    font-family: "Cooperm";
    src: url("fonts/cooperm.ttf");
}

.about {
    clear: both;
    padding-top: 100px;
    padding: 20px;
    text-align: center;
    font-family: cooperm;
}


/*svg*/

svg {
    width: 75%;
    height: 75%;
}

.svg {
    margin-left: 40px;
}

#coeur {
    animation-name: coeur;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes coeur {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

#wedding {
    animation-name: wedding;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes wedding {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}